<!DOCTYPE html>
<html>
    <head>
        <title>Rulehacker's RuleEngine</title>
        <link rel="stylesheet" href="/static/css/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#" >RuleHacker's Rule Engine</a>            
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        {% include 'rule_ui.html' %}                    
                    </div>
                    <div class="row">
                        {% include 'data_ui.html' %}                    
                    </div>
                    
                </div>
                <div class="col-md-8">
                    {% include 'result_ui.html' %}
                </div>
            </div>
        </div><!-- container -->
        
        <!-- All javscript files -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/css/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>    
    </body>
</html>

