<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Add Rule
        <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#newRuleModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <span class="clearfix"></span>
    </h3>
  </div>
  <div class="panel-body">
    <div id="ruleList" class="list-group">
      
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Rule</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="conditionText">IF</label>
                <input type="text" class="form-control" id="conditionText" placeholder="Conditions">
            </div>
            <div class="form-group">
                <label for="actionText">THEN</label>
                <input type="text" class="form-control" id="actionText" placeholder="Actions">
            </div>
            <div class="form-group">
                
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="addRule">Add Rule</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkRuleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Rule</h4>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <pre id="ruleText">
                </pre>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>